.footer .main-content[data-v-ff517a45] {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  padding: 0.7142857143rem 0 1.7142857143rem;
}
@media screen and (min-width: 576px) {
  .footer .main-content[data-v-ff517a45] {
    padding: 4rem 0;
  }
}
@media screen and (min-width: 768px) {
  .footer .main-content[data-v-ff517a45] {
    padding: 4.6rem 0 6.2rem;
  }
}
@media screen and (min-width: 992px) {
  .footer .main-content[data-v-ff517a45] {
    font-size: 1.1428571429rem;
    line-height: 24px;
  }
}
.footer .main-content .item[data-v-ff517a45] {
  margin-bottom: 0.8571428571rem;
}
.footer .main-content .col-title[data-v-ff517a45] {
  font-size: 1.1428571429rem;
  font-weight: 700;
  letter-spacing: 0.3px;
  margin-bottom: 1.7142857143rem;
  text-transform: uppercase;
}
.footer .main-content .social-col[data-v-ff517a45] {
  margin-bottom: 1.7142857143rem;
  text-align: center;
}
@media screen and (min-width: 576px) {
  .footer .main-content .social-col[data-v-ff517a45] {
    margin-top: -5%;
  }
}
@media screen and (min-width: 768px) {
  .footer .main-content .social-col[data-v-ff517a45] {
    margin-bottom: 0;
    margin-top: -2%;
  }
}
@media screen and (min-width: 1200px) {
  .footer .main-content .social-col[data-v-ff517a45] {
    margin-top: -3.5%;
  }
}
.footer .main-content .social-col .social[data-v-ff517a45] {
  align-items: center;
  display: flex;
  gap: 0.8571428571rem;
  justify-content: center;
  margin-top: 1rem;
}
.footer .main-content .social-col .logo[data-v-ff517a45] {
  margin: 0 auto;
  width: 55%;
}
@media screen and (min-width: 576px) {
  .footer .main-content .social-col .logo[data-v-ff517a45] {
    width: 100%;
  }
}
.footer .main-content .contact-col[data-v-ff517a45] {
  margin-top: 1.7142857143rem;
}
@media screen and (min-width: 768px) {
  .footer .main-content .contact-col[data-v-ff517a45] {
    margin-top: 0;
  }
}
.footer .main-content .contact-col .contact-item[data-v-ff517a45] {
  display: flex;
}
.footer .main-content .contact-col .contact-item .icon[data-v-ff517a45] {
  align-items: center;
  display: flex;
  margin-right: 1rem;
}
.footer .copy-right[data-v-ff517a45] {
  font-size: 0.8571428571rem;
  font-weight: 500;
  padding: 0.5714285714rem 0;
}
@media screen and (min-width: 375px) {
  .footer .copy-right[data-v-ff517a45] {
    font-size: 1rem;
    line-height: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer .copy-right[data-v-ff517a45] {
    font-size: 1.1428571429rem;
    line-height: 24px;
    padding: 1.4285714286rem 0;
  }
}
