.header-area[data-v-39de9c64] {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header-area .locale-selector[data-v-39de9c64] {
  width: 5rem;
}
@media screen and (min-width: 992px) {
  .header-area .locale-selector.select-language[data-v-39de9c64] {
    width: 4rem;
  }
  .header-area .locale-selector[data-v-39de9c64] {
    width: 7rem;
  }
}
.header-area .locale-selector[data-v-39de9c64] .ant-select-selector {
  background-color: transparent;
  border: 0;
  box-shadow: none !important;
  color: #fff;
  padding: 0;
}
.header-area .locale-selector[data-v-39de9c64] .ant-select-selection-item {
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
}
.header-area .locale-selector[data-v-39de9c64] .ant-select-arrow {
  color: #000;
}
@media screen and (min-width: 992px) {
  .header-area .locale-selector[data-v-39de9c64] .ant-select-arrow {
    color: #fff;
  }
}
.header-area .header-small-mobile[data-v-39de9c64] {
  align-items: center;
  background: #fff;
  box-shadow: 0 0 20px 0.4px #0000001a;
  min-height: 93px;
}
.header-area .header-small-mobile .menu-icon[data-v-39de9c64],
.header-area .header-small-mobile .search-icon[data-v-39de9c64] {
  font-size: 1.3rem;
  width: 1.7rem;
}
.header-area .header-small-mobile .close-icon[data-v-39de9c64] {
  display: none;
  width: 1rem;
}
.header-area .header-small-mobile .opened .menu-icon[data-v-39de9c64],
.header-area .header-small-mobile .opened .search-icon[data-v-39de9c64] {
  display: none;
}
.header-area .header-small-mobile .opened .close-icon[data-v-39de9c64] {
  display: inline-block;
}
.header-area .header-small-mobile .mobile-logo[data-v-39de9c64] {
  justify-content: center;
}
.header-area .header-small-mobile .mobile-logo[data-v-39de9c64]:before {
  width: 0;
}
.header-area .main-menu[data-v-39de9c64] {
  padding-inline: 0;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .header-area .main-menu[data-v-39de9c64] {
    padding-inline: 2rem;
  }
}
.header-area
  .main-menu
  > nav
  > ul
  > li.angle-shape
  .child-menu-item[data-v-39de9c64]:hover {
  color: var(--theme-primary-color) !important;
}
.header-area .main-menu ul[data-v-39de9c64] {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-area .main-menu ul li[data-v-39de9c64] {
  height: 100%;
  margin-bottom: 0;
}
.header-area
  .main-menu
  ul
  li.select-language[data-v-39de9c64]
  .ant-select-item-option-content {
  justify-content: center;
}
.header-area
  .main-menu
  ul
  li.select-language[data-v-39de9c64]
  .ant-select-item-option-content
  span.flag {
  margin: 0;
}
.header-area .main-menu ul li.select-language[data-v-39de9c64]:hover:after {
  background-color: transparent !important;
  bottom: 0.5rem;
}
.header-area .main-menu ul li:hover > .menu-item[data-v-39de9c64] {
  color: #fff !important;
}
.header-area .main-menu ul li[data-v-39de9c64]:hover:after {
  background-color: #fff !important;
  bottom: 0.5rem;
}
.header-area .main-menu .submenu[data-v-39de9c64] {
  height: 4rem;
  padding: 0 !important;
  top: 5.6rem;
}
.header-area .main-menu .submenu .menu-item[data-v-39de9c64] {
  color: #333 !important;
  font-size: 0.8571428571rem !important;
  max-width: unset;
}
.header-area .main-menu .submenu .menu-item.active[data-v-39de9c64],
.header-area .main-menu .submenu .menu-item[data-v-39de9c64]:hover {
  color: var(--theme-primary-color) !important;
}
.header-area .main-menu .submenu .menu-item.active[data-v-39de9c64]:after,
.header-area .main-menu .submenu .menu-item[data-v-39de9c64]:hover:after {
  background-color: var(--theme-primary-color);
}
.header-area .main-menu .submenu a[data-v-39de9c64] {
  color: #333 !important;
}
.header-area .main-menu .submenu a[data-v-39de9c64]:hover {
  color: var(--theme-primary-color) !important;
}
.header-area .main-menu .child-submenu[data-v-39de9c64] {
  top: 4rem;
}
.header-area .menu-item[data-v-39de9c64] {
  align-items: center;
  color: #fff !important;
  display: flex;
  font-size: clamp(
    0.5714285714rem,
    0.3vw + 0.471rem,
    0.8571428571rem
  ) !important;
  font-weight: 500 !important;
  height: 100%;
  justify-content: center;
  max-width: 7.5rem;
  text-transform: uppercase;
}
@media screen and (min-width: 992px) {
  .header-area .menu-item[data-v-39de9c64] {
    max-width: 6.9rem;
  }
}
@media screen and (min-width: 1200px) {
  .header-area .menu-item[data-v-39de9c64] {
    max-width: 8.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .header-area .menu-item[data-v-39de9c64] {
    max-width: 8.8rem;
  }
}
@media screen and (min-width: 1500px) {
  .header-area .menu-item[data-v-39de9c64] {
    max-width: 9.7rem;
  }
}
.header-area .menu-item.active[data-v-39de9c64],
.header-area .menu-item[data-v-39de9c64]:hover {
  font-weight: 600 !important;
  position: relative;
}
.header-area .menu-item.active a[data-v-39de9c64],
.header-area .menu-item:hover a[data-v-39de9c64] {
  color: #fff;
}
.header-area .menu-item.active[data-v-39de9c64]:after,
.header-area .menu-item[data-v-39de9c64]:hover:after {
  background-color: #fff;
  border-radius: 4px;
  bottom: 0.5rem;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100%;
}
.header-area .logo[data-v-39de9c64] {
  align-items: center;
  background-color: #fff;
  border-radius: 0 25rem 25rem 0;
  display: flex;
  height: 100%;
  position: relative;
}
.header-area .logo[data-v-39de9c64]:before {
  background-color: #fff;
  content: "";
  height: 100%;
  left: 5px;
  position: absolute;
  top: 0;
  transform: translate(-100%);
  width: 100vw;
}
.header-area .logo img[data-v-39de9c64] {
  aspect-ratio: 20/9;
  -o-object-fit: contain;
  object-fit: contain;
  width: 9rem;
}
.child-menu-item[data-v-39de9c64]:hover {
  color: var(--theme-primary-color);
}
.child-menu-item.item-header[data-v-39de9c64] {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.child-menu-item.router-link-active[data-v-39de9c64] {
  color: #ee1c26 !important;
}
.mobile-menu[data-v-39de9c64] {
  background: #fff;
  bottom: 0;
  height: calc(100% - 6.64rem);
  left: 0;
  overflow: auto;
  padding: 2.8rem 0 0;
  position: fixed;
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 1000;
}
.mobile-menu .mobile-menu-item[data-v-39de9c64] {
  padding-block: 1.1428571429rem;
}
.mobile-menu .mobile-menu-item .menu-item-header[data-v-39de9c64] {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: space-between;
  padding-right: 0.2rem;
  text-transform: uppercase;
}
.mobile-menu .mobile-menu-item .menu-item-header[data-v-39de9c64]:hover {
  color: #ee1c26;
}
.mobile-menu .mobile-menu-item .menu-item-header .arrow-icon[data-v-39de9c64] {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  width: 2rem;
}
.mobile-menu
  .mobile-menu-item
  .menu-item-header
  .arrow-icon
  svg[data-v-39de9c64] {
  width: 30%;
}
.mobile-menu .mobile-menu-item[data-v-39de9c64]:not(:last-child) {
  border-bottom: 1px solid #bec1c4;
}
.mobile-menu .mobile-menu-item .child-menu[data-v-39de9c64] {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.mobile-menu .mobile-menu-item .child-menu-item[data-v-39de9c64] {
  color: #1d1d1d;
  font-size: 1rem;
  padding-right: 0.2rem;
  padding-top: 1.1428571429rem;
}
.mobile-menu .mobile-menu-item .child-menu-item-header[data-v-39de9c64] {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.mobile-menu
  .mobile-menu-item
  .child-menu-item-header
  .arrow-icon[data-v-39de9c64] {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  width: 2rem;
}
.mobile-menu
  .mobile-menu-item
  .child-menu-item-header
  .arrow-icon
  svg[data-v-39de9c64] {
  width: 30%;
}
.mobile-menu
  .mobile-menu-item
  .child-menu-item.collapsed
  > .child-menu-item-header
  > .arrow-icon[data-v-39de9c64] {
  transform: rotate(90deg);
  transform-origin: center;
}
.mobile-menu
  .mobile-menu-item
  .child-menu-item.collapsed
  .child-menu[data-v-39de9c64] {
  max-height: 30vh;
}
.mobile-menu .mobile-menu-item.active .menu-item-header[data-v-39de9c64],
.mobile-menu .mobile-menu-item.collapsed .menu-item-header[data-v-39de9c64] {
  color: #ee1c26;
}
.mobile-menu
  .mobile-menu-item.collapsed
  > .menu-item-header
  > .arrow-icon[data-v-39de9c64] {
  transform: rotate(90deg);
  transform-origin: center;
}
.mobile-menu .mobile-menu-item.collapsed > .child-menu[data-v-39de9c64] {
  max-height: 30vh;
}
.mobile-menu .portal-menu .mobile-menu-item[data-v-39de9c64] {
  border-bottom: 0 !important;
}
.mobile-menu.opened[data-v-39de9c64] {
  transform: translate(0);
}
.mobile-search[data-v-39de9c64] {
  background: #fff;
  bottom: 0;
  height: calc(100% - 6.64rem);
  left: 0;
  padding: 2.8rem 0;
  position: fixed;
  transform: translate(100%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  z-index: 998;
}
.mobile-search p[data-v-39de9c64] {
  font-size: 1.1428571429rem;
  text-align: center;
}
.mobile-search.opened[data-v-39de9c64] {
  transform: translate(0);
}
.mobile-search .search-input[data-v-39de9c64] {
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  display: flex;
  padding: 0 1.4rem;
}
