.sidebar-search[data-v-36ad0594] {
  background: #fff;
  padding: 0 0.8571428571rem;
}
.sidebar-search__icon[data-v-36ad0594] {
  font-size: 1.5rem;
}
.sidebar-search__input input[data-v-36ad0594] {
  background: transparent;
  border: 0;
  outline: none;
}
