.section-1[data-v-1f09f33a] {
  padding-bottom: 1.7142857143rem;
  padding-top: 3.1428571429rem;
}
@media screen and (min-width: 992px) {
  .section-1[data-v-1f09f33a] {
    padding-bottom: 5.1rem;
  }
}
.section-1__header h2[data-v-1f09f33a] {
  font-size: 2.2857142857rem;
  font-weight: 700;
  text-transform: capitalize;
}
.section-1 .logo[data-v-1f09f33a] {
  width: 5.7rem;
}
.section-1__content[data-v-1f09f33a] {
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  .section-1__content[data-v-1f09f33a] {
    margin-top: 2.8571428571rem;
  }
}
.section-1__description[data-v-1f09f33a] {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7142857143rem;
  max-height: 55rem;
  overflow: auto;
}
@media screen and (min-width: 992px) {
  .section-1__description[data-v-1f09f33a] {
    font-size: 1.1428571429rem;
  }
}
.section-2[data-v-6e786244] {
  padding-block: 3.4285714286rem 2.8571428571rem;
}
@media screen and (min-width: 992px) {
  .section-2[data-v-6e786244] {
    padding-block: 5.7142857143rem 4rem;
  }
}
.section-2__container[data-v-6e786244] {
  gap: 2rem;
}
@media screen and (min-width: 992px) {
  .section-2__container[data-v-6e786244] {
    gap: 4rem;
  }
}
.section-2__left[data-v-6e786244] {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-2__left[data-v-6e786244] {
    width: 38%;
  }
}
.section-2__left .description[data-v-6e786244] {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7142857143rem;
  margin-top: 2rem;
  max-height: 9.4rem;
  overflow: auto;
}
@media screen and (min-width: 992px) {
  .section-2__left .description[data-v-6e786244] {
    font-size: 1.1428571429rem;
    margin-top: 4.4rem;
  }
}
.section-2__right[data-v-6e786244] {
  width: 100%;
}
.section-2__right[data-v-6e786244] .editor-content ul {
  margin-bottom: 1rem;
  padding: 0;
}
.section-2__right[data-v-6e786244] .editor-content ul li {
  margin-left: 1.7142857143rem;
}
.section-2__right .slide-vertical .career-opportunity__item[data-v-6e786244] {
  background-color: #fff;
  border-radius: 0.8571428571rem;
  box-shadow: 0 0.2857142857rem 1rem #0000001a;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1.4285714286rem;
  height: 100%;
  padding-block: 3.1428571429rem 2.5714285714rem;
  padding-inline: 2.2857142857rem 0.8571428571rem;
}
@media screen and (min-width: 768px) {
  .section-2__right .slide-vertical .career-opportunity__item[data-v-6e786244] {
    flex-direction: row;
  }
}
.section-2__right
  .slide-vertical
  .career-opportunity__item__image[data-v-6e786244] {
  aspect-ratio: 220/144;
  background-color: var(--theme-primary-color);
  border-radius: 0.8571428571rem;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .section-2__right
    .slide-vertical
    .career-opportunity__item__image[data-v-6e786244] {
    width: 35%;
  }
}
.section-2__right
  .slide-vertical
  .career-opportunity__item__image
  img[data-v-6e786244] {
  aspect-ratio: 220/144;
}
.section-2__right
  .slide-vertical
  .career-opportunity__item__content[data-v-6e786244] {
  flex: 1;
}
.section-2__right
  .slide-vertical
  .career-opportunity__item__content
  .title[data-v-6e786244] {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 1.1428571429rem;
  font-weight: 700;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.section-2__right
  .slide-vertical
  .career-opportunity__item__content
  .description[data-v-6e786244] {
  font-weight: 500;
  line-height: 1.7142857143rem;
  margin-top: 0.2857142857rem;
  max-height: 22rem;
  overflow: auto;
  padding-right: 0.5714285714rem;
}
.section-2__right .slide-vertical[data-v-6e786244] .swiper-wrapper {
  box-sizing: border-box;
  padding-right: 1.7142857143rem !important;
}
@media screen and (min-width: 992px) {
  .section-2__right .slide-vertical[data-v-6e786244] .swiper-wrapper {
    padding-right: 2.5714285714rem !important;
  }
}
.section-2__right .slide-vertical[data-v-6e786244] .swiper-scrollbar {
  background-color: transparent;
  width: 0.7142857143rem;
}
.section-2__right .slide-vertical[data-v-6e786244] .swiper-scrollbar-drag {
  background-color: #cccccc80 !important;
  cursor: pointer;
}
.section-2__right .slide-vertical[data-v-6e786244] .swiper-slide {
  height: auto !important;
}
.section-2__right .slide-mobile[data-v-6e786244] .swiper-slide {
  height: auto !important;
  overflow: hidden;
}
.section-2__right .slide-mobile[data-v-6e786244] .swiper-pagination {
  bottom: 0;
}
.section-2__right
  .slide-mobile
  .career-opportunity__image
  img[data-v-6e786244] {
  aspect-ratio: 310/287;
  -o-object-fit: cover;
  object-fit: cover;
}
@media screen and (min-width: 992px) {
  .section-2__right
    .slide-mobile
    .career-opportunity__image
    img[data-v-6e786244] {
    aspect-ratio: 342/287;
  }
}
.section-2__right .slide-mobile .career-opportunity__item[data-v-6e786244] {
  background-color: #fff;
  border-radius: 0.8571428571rem;
  height: 100%;
  overflow: hidden;
}
.section-2__right .slide-mobile .career-opportunity__content[data-v-6e786244] {
  padding-block: 1.4285714286rem 2.1428571429rem;
}
.section-2__right
  .slide-mobile
  .career-opportunity__content
  .title[data-v-6e786244] {
  font-weight: 600;
  line-height: 1.7142857143rem;
  padding: 0 1rem;
}
.section-2__right
  .slide-mobile
  .career-opportunity__content
  .description[data-v-6e786244] {
  font-weight: 500;
  line-height: 1.7142857143rem;
  margin-right: 0.5714285714rem;
  margin-top: 0.5714285714rem;
  max-height: 18rem;
  overflow: auto;
  padding: 0 0.4285714286rem 0 1rem;
  touch-action: pan-y;
}
.section-2[data-v-6e786244] .swiper-pagination-bullet-active {
  background-color: var(--theme-primary-color);
}
.section-3[data-v-ef8f3b57] {
  padding-block: 3.1428571429rem 2.2857142857rem;
}
@media screen and (min-width: 992px) {
  .section-3[data-v-ef8f3b57] {
    padding-block: 8.4rem 5rem;
  }
}
.section-3__list[data-v-ef8f3b57] {
  margin-top: 1.7142857143rem;
}
@media screen and (min-width: 992px) {
  .section-3__list[data-v-ef8f3b57] {
    margin-top: 3.1428571429rem;
  }
}
.section-3__list[data-v-ef8f3b57] .ant-collapse-content,
.section-3__list[data-v-ef8f3b57] .ant-collapse-header {
  color: #333;
  font-weight: 400;
  padding-inline: 0;
}
.section-3__list[data-v-ef8f3b57] .ant-collapse-header {
  align-items: center;
  font-size: clamp(1.1428571429rem, 0.563vw + 0.849rem, 1.4285714286rem);
  padding-block: 0.5714285714rem;
}
.section-3__list[data-v-ef8f3b57] .ant-collapse-header .title {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.section-3__list[data-v-ef8f3b57] .ant-collapse-content-box {
  padding-top: 0 !important;
}
.section-3__list[data-v-ef8f3b57] .ant-collapse-content .description {
  max-height: 30rem;
  overflow: auto;
}
.section-3__list[data-v-ef8f3b57]
  .ant-collapse-item-active
  .ant-collapse-header {
  color: var(--theme-primary-color);
}
.section-3__list[data-v-ef8f3b57]
  .ant-collapse-item-active
  .ant-collapse-header-text {
  font-weight: 600;
}
.section-3__list[data-v-ef8f3b57] .editor-content ul {
  padding-left: 0;
}
.section-3__list[data-v-ef8f3b57] .editor-content ul li {
  margin-left: 20px;
}
.section-4[data-v-e1cdf309] {
  padding: 2rem 0 4rem;
}
@media screen and (min-width: 992px) {
  .section-4[data-v-e1cdf309] {
    padding: 4.6rem 0 7rem;
  }
}
.section-4__list[data-v-e1cdf309] {
  margin-top: 2.2857142857rem;
}
.section-4__item-header[data-v-e1cdf309] {
  color: #333;
  display: flex;
  font-weight: 700;
  position: relative;
}
.section-4__item-header[data-v-e1cdf309]:before {
  background-color: var(--theme-primary-color);
  border-radius: 2.8571428571rem 2.8571428571rem 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.2142857143rem;
}
.section-4__header h2[data-v-e1cdf309] {
  text-align: center;
  text-transform: capitalize;
}
[data-v-e1cdf309] .ant-collapse {
  background: none;
  border: 0;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item {
  border-bottom: 0;
  margin-bottom: 0.8571428571rem;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item:last-child {
  margin-bottom: 0;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item .ant-collapse-header {
  background-color: #e0e1e4;
  border-radius: 0.5714285714rem;
  padding: 0.8571428571rem 1.4285714286rem;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item .ant-collapse-arrow {
  color: var(--theme-primary-color);
  transition: 0.2s ease-in-out;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item .ant-collapse-content {
  background: transparent !important;
  border-radius: unset;
  border-top: 0;
  padding: 0;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item .ant-collapse-content-box {
  padding: 0.8571428571rem 0 0;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item .ant-collapse-content-box * {
  color: #333;
}
[data-v-e1cdf309]
  .ant-collapse
  .ant-collapse-item
  .ant-collapse-content-box
  *
  a:hover
  * {
  color: var(--theme-primary-color) !important;
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-item-active .ant-collapse-arrow {
  transform: rotate(180deg);
}
[data-v-e1cdf309] .ant-collapse .ant-collapse-header-text {
  flex: 1;
}
.section-5[data-v-db9e0250] {
  padding: 3.2857142857rem 0 5rem;
}
@media screen and (min-width: 992px) {
  .section-5[data-v-db9e0250] {
    padding: 8.6rem 0 5.2rem;
  }
}
.section-5 .section-title[data-v-db9e0250] * {
  font-size: clamp(1.4285714286rem, 0.094vw + 0.903rem, 2.2857142857rem);
  font-weight: 700;
}
.section-5__container[data-v-db9e0250] {
  gap: 2.5714285714rem;
  margin: auto;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-5__container[data-v-db9e0250] {
    width: 65%;
  }
}
.section-5__container h2[data-v-db9e0250] {
  margin-bottom: 0;
  text-align: center;
}
@media screen and (min-width: 320px) {
  .section-5__container h2[data-v-db9e0250] {
    font-size: 1.1428571429rem;
  }
}
@media screen and (min-width: 576px) {
  .section-5__container h2[data-v-db9e0250] {
    font-size: 1.7142857143rem;
  }
}
@media screen and (min-width: 992px) {
  .section-5__container h2[data-v-db9e0250] {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .section-5__container h2[data-v-db9e0250] {
    font-size: 2.2857142857rem;
  }
}
@media screen and (min-width: 1400px) {
  .section-5__container h2[data-v-db9e0250] {
    letter-spacing: 0;
  }
}
.section-5__container .logo[data-v-db9e0250] {
  left: 50%;
  opacity: 0.05;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4rem;
}
.section-5__container .logo img[data-v-db9e0250] {
  aspect-ratio: 70/120;
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-5__container .logo[data-v-db9e0250] {
    width: 5.7142857143rem;
  }
}
